BasedOnStyle: Google

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach

PointerAlignment: Left
ReferenceAlignment: Left

Cpp11BracedListStyle: false
AlignConsecutiveDeclarations: true

BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: BinPack

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^"pch\.hpp"'
    Priority: -2

  - Regex: '^"lcs/core\.h"'
    Priority: 1

  - Regex: '^<.*\.h>'
    Priority: 2

  - Regex: "^<(algorithm|any|array|atomic|barrier|bit|bitset|cassert|cctype|cerrno|cfenv|cfloat|charconv|chrono|cinttypes|climits|clocale|cmath|codecvt|concepts|condition_variable|coroutine|csetjmp|csignal|cstdarg|cstddef|cstdint|cstdio|cstdlib|cstring|ctime|cuchar|cwchar|cwctype|deque|exception|execution|expected|filesystem|flat_map|flat_set|format|forward_list|fstream|functional|future|generator|initializer_list|iomanip|ios|iosfwd|iostream|istream|iterator|latch|limits|list|locale|map|memory|memory_resource|mutex|new|numbers|numeric|optional|ostream|print|queue|random|ranges|ratio|regex|scoped_allocator|semaphore|set|shared_mutex|source_location|span|sstream|stack|stacktrace|stdexcept|stdfloat|streambuf|string|string_view|strstream|syncstream|system_error|thread|tuple|type_traits|typeindex|typeinfo|unordered_map|unordered_set|utility|valarray|variant|vector|version)>$"
    Priority: 3

  - Regex: "^<.*>"
    Priority: 4

  - Regex: '^".*"'
    Priority: 5
